
/* FAQ card */
.faq-card{
    background-color: var(--neutral-color-body-bg);
    padding: 1.5rem;
    width: 90%;
    max-width: 400px;
    margin-top: 150px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

/* FAQ Header Starts */
.faq-card_header{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.2rem;
}
.faq-card_header img{
    width: 22px;
}
.faq-card_header h1{
    font-family: WorkSans-Bold;
    font-size: 1.6rem;
    color: var(--primary-color);
}
/* FAQ Header Ends */

/* FAQ Contetns Starts */
.faq-card_summary{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.faq-card_summary span{
    font-size: 18px;
    background-color: var(--secondary-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.faq-card_summary:after{
    content: "+";
    width: 32px;
    height: 32px;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}
.active:after{
    content: "-";
    background-color: var(--primary-color);
}
.summary_toogle-btn span:nth-child(even){
    display: none;
    background-color: var(--primary-color);
}
.faq-card_description{
    margin-bottom: 1.6rem;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 7px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;

}
.faq-card-border-none{
    border: none;
}
/* FAQ Contetns Ends */
